label {
    display: inline-block;
    margin: 10px 0;
}

input {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input:focus {
    outline: none;
}

.btn {
    background-color: #16a085;
    color: #fff;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 10px 0 30px;
    padding: 10px 28px;
    font-size: 16px;
    border: none;
}

.amount-valid {
    border: 1px solid red;
}